
<div class="row mx-auto">
 <div class="col-md-3">

  <% if flash[:notice] %>
    <p id="notice">
  <%= flash[:notice] %>
    </p>
  <% end %>

  <%= render 'users/user_info', user: @user %>
 </div>


 <div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table">
   <thead>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
   </thead>
   <tbody>
     <td>
      <% if @book.user.profile_image.attached? %>
      <%=image_tag @book.user.profile_image,size: "100x100" %>
      <% else %>
       <%= image_tag 'no_image', size: "100x100" %>
      <% end %>
      </td>
      <td>
       <%= link_to @book.title, book_path(@book) %>
       </td>
      <td><%= @book.body %> </td>
      <td>
        <% if @book.user == current_user %>
         <%= link_to "Edit", edit_book_path(@book.id) %>
         <%= link_to "Destroy",book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
        <% end %>
      </td>
    </tbody>
 </table>



 </div>
</div>